<%= render "shared/header" %>
<main class="main">
  <div class="shop">
    <div class="shop-list">
      <div class="vegetable">
        <div class="food-vegetable">買い物リスト</div>
        <% @shops.each do |shop| %>
        <ul class="food">
          <li class="food-detail"><%= shop.stuff %></li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="shop-purpose">
      <div class="purpose-title">入力フォーム</div>
        <div class="purpose-main">
          <%= form_with model: @shop, url: shops_path, method: :post, id: "form js-form", class: 'item-shop', local: true do |f| %>
            <div class="purpose">
              <div class='purpose-text-wrap'>
                <label class="purpose-text">食材名</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.text_area :stuff, class:"form__text-field js-form__text-field", id:"form__text-field js-form__text-field", placeholder:"食材名を入力"%>
            </div>
            <div class="purpose">
              <div class="add-btn-purpose">
                <%= f.submit "加える" ,id: "form__submit js-submit", class:"form__submit js-submit" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>