<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      To improve shopping efficiency 
    </h2>
    <p class='service-explain'>
      買い物を効率よくしよう！！
    </p>
  </div>
  <div class='feature-contents'>
    <h2 class='title'>
      ISE特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "management.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          食材の管理ができる
        </h3>
        <p class='feature-list-description'>
          賞味期限管理ができ、食べずに捨てるこんな無駄を無くします！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shopping.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          買い物リストも作れる
        </h3>
        <p class='feature-list-description'>
          買い物のし忘れがなくなり、家の食材管理を簡単にしてくれます
        </p>
      </li>
    </ul>
  </div>
  <div class="purpose-list">
    <div class="shop-list">
      <div class="shopping">
        <div class="food-shop">買い物リスト</div>
          <ul class="shop-lists">
            <% if @shops.present? %>
            <% @shops.each do |shop| %>
              <li class="list"><%= shop.stuff %></li>
            <% end %>
            <% else %>
              <li class="list">卵<li>
              <li class="list">豚肩ロース<li>
              <li class="list">にんじん<li>
              <li class="list">ジャガイモ<li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>