<%= render "shared/header" %>
<main class="main">
  <div class="content">
    <div class="content-left">
      <div class="vegetable">
        <div class="food-vegetable">野菜・果物</div>
          <ul class="food-lists">
            <% if @management1.present? %>
            <% @management1.each do |management| %>
              <li class="list",id="list">
                <div class="block",id="block">
                  <div class="food_item",id="food_item"><%= management.item %></div>
                  <div class="food-deadline",id="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="meat">
        <div class="food-meat">肉・魚・卵など</div>
          <ul class="food-lists">
            <% if @management2.present? %>
            <% @management2.each do |management| %>
              <li class="list">
                <div class="block">
                  <div class="food_item"><%= management.item %></div>
                  <div class="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="frozen">
        <div class="food-frozen">冷凍</div>
          <ul class="food-lists">
            <% if @management3.present? %>
            <% @management3.each do |management| %>
              <li class="list">
                <div class="block">
                  <div class="food_item"><%= management.item %></div>
                  <div class="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="drink">
        <div class="food-drink">飲料水</div>
          <ul class="food-lists">
            <% if @management4.present? %>
            <% @management4.each do |management| %>
              <li class="list">
                <div class="block">
                  <div class="food_item"><%= management.item %></div>
                  <div class="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="seasoning">
        <div class="food-seasoning">調味料</div>
          <ul class="food-lists">
            <% if @management5.present? %>
            <% @management5.each do |management| %>
              <li class="list">
                <div class="block">
                  <div class="food_item"><%= management.item %></div>
                  <div class="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="etc">
        <div class="food-etc">その他</div>
          <ul class="food-lists">
            <% if @management6.present? %>
            <% @management6.each do |management| %>
              <li class="list">
                <div class="block">
                  <div class="food_item"><%= management.item %></div>
                  <div class="food-deadline"><%= management.deadline %></div>
                  <div class="destroy-stock">
                    <%= link_to "削除", management_path(management.id), method: :delete, class:"stock-delete" %>
                  </div>
                </div>
              </li>
            <% end %>
            <% end %>
          </ul>
      </div>
    </div>
    <div class="content-right">
      <div class="form-title">入力フォーム</div>
        <div class="form-main">
          <%= form_with model: @management, url: managements_path, method: :post, class: 'item-management', local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">食材名</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.text_area :item, class:"name", id:"name", placeholder:"食材名を入れてください"%>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">カテゴリー</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">賞味期限</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-deadline-wrap'>
                <%= raw sprintf(
                            f.date_select(
                              :deadline,
                              class:'select-deadline',
                              id:"deadline-date",
                              use_month_numbers: true,
                              prompt:'--',
                              start_year: 2021,
                              end_year: (Time.now.year + 19),
                              date_separator: '%s'),
                            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
              </div>
              <p class='info-text'>※ 賞味期限を正しく入力してください。入力ミスで健康を害した場合、自己責任となります。</p>
            </div>
            <div class="form-group">
              <div class="add-btn-group">
                <%= f.submit "加える" ,class:"add-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
